/* =========================================== */
/*                                             */
/*            Common Style Configure           */
/*                                             */
/* =========================================== */
:root {
	--cacao-max-content-width: 900px; /* TODO customize */
	--cacao-foreground-color: #1c1c1c; /* TODO customize */
	--cacao-foreground-color-dark: aliceblue; /* TODO customize */
	--cacao-link-color: #51a8dd; /* TODO customize */
	--cacao-link-color-dark: #88d9ff; /* TODO customize */
	--cacao-link-visited-color: #7b90d2; /* TODO customize */
	--cacao-link-visited-color-dark: #adc0ff; /* TODO customize */
	--cacao-link-hover-color: #81c7d4; /* TODO customize */
	--cacao-link-hover-color-dark: #b3faff; /* TODO customize */
	--cacao-regular-font-size: 1em; /* TODO customize */
	--cacao-tab-size: 4; /* TODO customize */
	--cacao-blur-radius: 50px; /* TODO customize */
}

/* =========================================== */
/*                                             */
/*                  Page Global                */
/*                                             */
/* =========================================== */
body, html {
	margin: 0;
	padding: 0;
	height: 100%;
	/*font-family:'Century Gothic','Trebuchet MS','Hiragino Sans GB','微软雅黑','Microsoft Yahei','Tahoma','Helvetica','Arial','SimSun','sans-serif';*/
}

/* Unused font */
/*@font-face {*/
/*	font-family: 'Century Gothic';*/
/*	src: url('/assets/font/GOTHIC.TTF');*/
/*}*/

/* =========================================== */
/*                                             */
/*                    Element                  */
/*                                             */
/* =========================================== */
p {
	margin-block-start: 1.618rem;
	margin-block-end: 1.618rem;
	margin-inline-start: 0;
	margin-inline-end: 0;
	line-height: 1.618;
	word-break: break-all;
	white-space: normal;
}

h1 {
	font-size: 3rem;
	font-weight: 500;
	margin-block-start: 0.83rem;
	margin-block-end: 0.83rem;
	margin-inline-start: 0;
	margin-inline-end: 0;
  }
h2 {
	font-size: 1.6rem;
	font-weight: 500;
	margin-block-start: 0.83rem;
	margin-block-end: 0.83rem;
	margin-inline-start: 0;
	margin-inline-end: 0;
}

a,
a:link {
	position:relative;
	color: var(--cacao-link-color);
	text-decoration:none;
	transition-duration: 0.25s;
}
a:visited {
	color: var(--cacao-link-visited-color);
}
a:hover {
	color: var(--cacao-link-hover-color);
}

/* =========================================== */
/*                                             */
/*              Additional Theme               */
/*                                             */
/* =========================================== */
.dark {
	color: var(--cacao-foreground-color-dark);
}

.dark a,
.dark a:link {
	color: var(--cacao-link-color-dark);
}
.dark a:visited {
	color: var(--cacao-link-visited-color-dark);
}
.dark a:hover {
	color: var(--cacao-link-visited-color-dark);
}