/* =========================================== */
/*                                             */
/*                Single Layout                */
/*                                             */
/* =========================================== */
#singular-title-container {
	position: relative;
	margin: 8rem 0;
}

#singular-title-content {
	padding: 2rem 0;
}

#singular-content-container,
#singular-comments-container {
	max-width: var(--cacao-max-content-width);
	width: 100%;
	margin: auto auto 8rem;
}

#content-body,
#comments-body {
	position: relative;
	box-sizing: border-box;
	padding: 1rem 3rem;
	background-image: url("../images/bg-texture.png");
	background-color: white;
	border: 3px black solid;
	margin: 0 -3px;
	width: calc(100% + 6px);
	border-radius: 25px;
	transition-duration: 0.3s;
	color: #1c1c1c !important;
}
